@model IEnumerable<Assignment1.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Laptop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LCD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phoneno)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Laptop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LCD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phoneno)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderId })
        </td>
    </tr>
}

</table>
